extends layout

block content
  h1= "Dara Osunkoya"
  p= "Building a pug server" 
  
  if (!user)
    button.btn-primary
      a(href="/login") Login
    br
    br
    button.btn-primary
      a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/tattoos") Take me to tattoos
    br
    a(href="/logout") Logout
