extends layout
block content
    h1= title
    
    form(id='TattooForm', action="/resource/tattoo", method="POST")
        div.form-group
            label.tattooAttr(for='customer') Customer
            input#customer(type='text', name='tattoo_customer')
        div.form-group
            label.tattooAttr(for='duration') Duration
            input#duration(type='text', name='duration')
        div.form-group
            label.tattooAttr(for='cost') Tattoo cost
            input#cost(type='number', name='cost')
        div.form-group
            label.tattooAttr(for='colored') Colored?
            input#colored(type='boolean', name='colored')
        input(type="submit")
    
    script.
        document.forms['CostumeForm'].addEventListener('submit', (event) => { 
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
            });
        });
