extends layout
block content
    h1= title
    
    form(id='TattooForm', action="/resource/tattoos", method="POST")
        div.form-group
            label.tattooAttr(for='customer') Customer
            input#customer(type='text', name='customer')
        div.form-group
            label.tattooAttr(for='duration') Duration
            input#duration(type='number', name='duration', min=1)
        div.form-group
            label.tattooAttr(for='cost') Tattoo cost
            input#cost(type='number', name='cost', min=80)
        div.form-group
            label.tattooAttr(for='colored') Colored?
            input#colored(type='checkbox', name='colored')
        button(type=button, class="btn", onclick="cancel()") Cancel
        input(type="submit")


    script.
        function cancel(){
            document.forms[TattooForm].reset()
            window.location.href = `/tattoos`
        }

        document.forms['TattooForm'].addEventListener('submit', (event) => { 
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded")
                window.location.href = "/tattoos"
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
            });
        });
